<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MeterIssueDash</display-name>

  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!--<servlet>
    <servlet-name>MeterControllerServlet</servlet-name>
    <servlet-class>metertrack.MeterControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeterControllerServlet</servlet-name>
    <url-pattern>/MeterControllerServlet</url-pattern>
  </servlet-mapping> -->

	<!-- <login-config>
	    <auth-method>FORM</auth-method>
	    <realm-name>Private</realm-name>
	    <form-login-config>
	        <form-login-page>/private/login.jsp</form-login-page>
	        <form-error-page>/private/error.jsp</form-error-page>
	    </form-login-config>
	</login-config> -->
</web-app>